// ==========================================================================
// Mobile Custom Styles
// ==========================================================================

body {
	background-color: fade(blue, 20%)
}

.menu {
	background-color: fade(red, 50%);
}

.top-wrapper {
	background-color: fade(purple, 50%);
	min-height: 4em;
}

.thumbs {
	min-height: 200px
}

.medigo-title {
	font-size: 4em;
	padding-top:0.25em;
	color: white;
}

.grid-item {
	background-color: fade(grey, 30%);
	border: 10px solid fade(grey, 50%);
}
