// ==========================================================================
// Mobile Custom Styles
// ==========================================================================

body {
	background-color: blue;
}

html {
    overflow-y: scroll; 
}

#footer {
	background-color: purple;
	opacity: 0;
}

.grid-item {
	background-color: fade(grey, 30%);
	border: 2px solid fade(grey, 50%);
}

.thumbs {
	border: 1px grey solid;
	min-height: 100px;
	opacity: 0;
}

#isoContainer {
	padding: 20px 0 20px 0;
	opacity: 0;
}

.loader {
	height: 100px;
	padding: 20px;
}

.menu {
	background-color: red;
}

.menu {
	padding-bottom: 15px;
}

.menu-title {
	color: white;
	font-weight: bold;
}

.medigo-title {
	color: white;
	font-weight: bold;
	span {
	transition: all linear 0.5s;
	.animate(1s);
	}
}

.medigo-title span:hover {
	padding-top: 10px;
	color: fade(white, 50%)
}
	
.menu .button {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.no-js {
	#footer,
	#isoContainer,
	.thumbs {
		opacity: 0;
	}
}

.top-wrapper {
	background-color: purple;
	padding-bottom: 25px;
}
